/* Every position oriented definition is in this file
 * This includes:
 *      - SIZE
 *      - PADDING, MARGIN
 *      - TEXT ALIGN
 *      - FLEX BOXES and OTHER CONTAINERS */
body {
  height: 100vh;
  overflow: hidden; }

.mainContainer {
  width: 1200px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.horizontalContainer {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.verticalContainer {
  height: 700px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.chordsContainer {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.qualityFirstRow {
  width: 300px;
  height: 75px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }

.qualitySecondRow {
  width: 450px;
  height: 75px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }

.qualityButton {
  width: 70px;
  height: 70px;
  border-radius: 35px; }

.inputWindow .inputTitle {
  padding: 10px;
  text-align: center; }
.inputWindow .inputSection {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.textLarge {
  width: 500px;
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 13px; }

.button {
  width: 240px;
  height: 75px; }

#bpmInputWindow, #durationInputWindow {
  width: 105px; }
  #bpmInputWindow .inputSection, #durationInputWindow .inputSection {
    height: 25px;
    width: 80px; }

#geneInputWindow {
  height: 490px; }
  #geneInputWindow .inputSection {
    height: 430px;
    width: 460px; }

#chordNotesInputWindow, #rootTransInputWindow {
  height: 200px; }
  #chordNotesInputWindow .inputSection, #rootTransInputWindow .inputSection {
    height: 140px;
    width: 620px; }

#qualityInputWindow {
  height: 230px; }
  #qualityInputWindow .inputSection {
    height: 170px;
    width: 620px; }

.inputSlider {
  width: 400px;
  margin: 0 auto;
  background: #256868; }

.inputSlider#chordAmount {
  width: 310px; }

.inputSlider::-webkit-slider-runnable-track {
  background-color: #f1eccf;
  height: 40px; }
.inputSlider::-moz-range-track {
  background-color: #f1eccf;
  height: 40px; }
.inputSlider::-ms-track {
  background-color: #f1eccf;
  height: 40px; }
.inputSlider::-webkit-slider-thumb {
  height: 80px; }
.inputSlider::-moz-range-thumb {
  height: 80px; }
.inputSlider::-ms-thumb {
  height: 80px; }

textarea {
  height: 410px;
  width: 440px;
  padding: 10px;
  margin: 0; }

input[type='text'] {
  width: 100%;
  height: 100%;
  background: none;
  text-align: center; }

/* Every look oriented definition is in this file
 * This includes:
 *      - COLORS
 *      - FONTS
 *      - BORDERS */
body {
  background-color: #f1eccf;
  color: #256868;
  font-family: "VT323", monospace;
  font-size: 18px; }

input {
  color: #256868;
  font-family: "VT323", monospace; }

.textLarge {
  background-color: #ec8f6c;
  font-size: 4em;
  border-radius: 3px; }

.inputWindow {
  background-color: #a9b08f;
  border-radius: 3px; }
  .inputWindow .inputTitle {
    border-radius: 3px; }
  .inputWindow .inputSection {
    background-color: #256868;
    color: #a9b08f; }

.button {
  background-color: #ec8f6c;
  font-size: 2em;
  border: #256868 solid 5px;
  border-radius: 3px; }

.qualityButton {
  border: none;
  background-color: #a9b08f; }

.qualityButton:active, .qualityButton.active {
  background-color: #ec8f6c; }

.inputSlider::-webkit-slider-runnable-track {
  background-color: #f1eccf;
  border: none; }
.inputSlider::-moz-range-track {
  background-color: #f1eccf;
  border: none; }
.inputSlider::-ms-track {
  background-color: #f1eccf;
  border: none; }
.inputSlider::-webkit-slider-thumb {
  background-color: #ec8f6c;
  border: #256868 solid 10px;
  border-radius: 3px; }
.inputSlider::-moz-range-thumb {
  background-color: #ec8f6c;
  border: #256868 solid 10px;
  border-radius: 3px; }
.inputSlider::-ms-thumb {
  background-color: #ec8f6c;
  border: #256868 solid 10px;
  border-radius: 3px; }

textarea {
  font-family: "VT323", monospace;
  color: #a9b08f;
  border: none;
  background: none; }

input[type='text'] {
  color: #a9b08f;
  border: none;
  background: none; }

/* Every animation oriented definition is in this file */
@keyframes flicker {
  0% {
    opacity: 0.27861; }
  5% {
    opacity: 0.34769; }
  10% {
    opacity: 0.23604; }
  15% {
    opacity: 0.90626; }
  20% {
    opacity: 0.18128; }
  25% {
    opacity: 0.83891; }
  30% {
    opacity: 0.65583; }
  35% {
    opacity: 0.67807; }
  40% {
    opacity: 0.26559; }
  45% {
    opacity: 0.84693; }
  50% {
    opacity: 0.96019; }
  55% {
    opacity: 0.08594; }
  60% {
    opacity: 0.20313; }
  65% {
    opacity: 0.71988; }
  70% {
    opacity: 0.53455; }
  75% {
    opacity: 0.37288; }
  80% {
    opacity: 0.71428; }
  85% {
    opacity: 0.70419; }
  90% {
    opacity: 0.7003; }
  95% {
    opacity: 0.36108; }
  100% {
    opacity: 0.24387; } }
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  5% {
    text-shadow: 2.7928974011px 0 1px rgba(0, 30, 255, 0.5), -2.7928974011px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  10% {
    text-shadow: 0.0295627584px 0 1px rgba(0, 30, 255, 0.5), -0.0295627584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  15% {
    text-shadow: 0.4021853855px 0 1px rgba(0, 30, 255, 0.5), -0.4021853855px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  20% {
    text-shadow: 3.47940379px 0 1px rgba(0, 30, 255, 0.5), -3.47940379px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  25% {
    text-shadow: 1.6125630401px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  30% {
    text-shadow: 0.7015590085px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  35% {
    text-shadow: 3.8969140477px 0 1px rgba(0, 30, 255, 0.5), -3.8969140477px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  40% {
    text-shadow: 3.8709056148px 0 1px rgba(0, 30, 255, 0.5), -3.8709056148px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  45% {
    text-shadow: 2.2310569634px 0 1px rgba(0, 30, 255, 0.5), -2.2310569634px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  50% {
    text-shadow: 0.0808429042px 0 1px rgba(0, 30, 255, 0.5), -0.0808429042px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  55% {
    text-shadow: 2.3758461067px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  60% {
    text-shadow: 2.2021930511px 0 1px rgba(0, 30, 255, 0.5), -2.2021930511px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  65% {
    text-shadow: 2.8638780615px 0 1px rgba(0, 30, 255, 0.5), -2.8638780615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  70% {
    text-shadow: 0.4887402516px 0 1px rgba(0, 30, 255, 0.5), -0.4887402516px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  75% {
    text-shadow: 1.8948491306px 0 1px rgba(0, 30, 255, 0.5), -1.8948491306px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  80% {
    text-shadow: 0.0833037308px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  85% {
    text-shadow: 0.0976982726px 0 1px rgba(0, 30, 255, 0.5), -0.0976982726px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  90% {
    text-shadow: 3.4433397615px 0 1px rgba(0, 30, 255, 0.5), -3.4433397615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  95% {
    text-shadow: 2.1841838853px 0 1px rgba(0, 30, 255, 0.5), -2.1841838853px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  100% {
    text-shadow: 2.6208764474px 0 1px rgba(0, 30, 255, 0.5), -2.6208764474px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; } }
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none; }

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none; }

.crt.animated::after {
  animation: flicker 0.001s infinite; }

.crt.animated {
  animation: textShadow 0.001s infinite; }

/*# sourceMappingURL=style.css.map */
